body{
    background-color: #03000F;
}
.wirhelfen{ color: #3dd7ac;
    text-align:left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 2.4em;
    font-variant-position: super;
}
.superhilfe{ 
    color: #3dd7ac;
    font-size: 0.77em;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    grid-column: 1/2;
}
form{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    margin: 0;
    padding: 0;
=======
    margin-bottom: 20%;
    grid-row: 1/-1;
    grid-column: 2/3;
>>>>>>> 36c52abec53b305f18ce371c857c442d334a153c
}
form > input{
    padding-left: 10px;
    font-size: 1.25em;
    border: 2px solid #fff;
    background-color: #03000F;
    color: #fff;
}
form > textarea{
    font-size: 1.25em;
    border: 1.77px solid #fff;
    background-color: #03000F;
    color: #fff;
}
button{
    font-size: 1.25em;
    border: 1px solid #fff;
    background-color: #03000F;
    color: #fff
}
button:hover{
    background-color: #fff;
    color: #03000F;
    transition: 1s;
}
.cool{
    -webkit-text-fill-color: #03000F;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3DD7AC;
}
.helfen{
    margin-left: 4%;
    margin-top: 0.5%;
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
<<<<<<< HEAD
    transition: 1s;
    padding-top: 10% 
=======
    padding-top: 20vh;
>>>>>>> 36c52abec53b305f18ce371c857c442d334a153c
}
::placeholder {
    color: #fff;
}

