.flex1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 66%;
}

.flex2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
}

.image-container{
  display: flex;
  justify-content: center;
}

.partner-section{
  color: #5D3EDE;
  background-color: #fff;
  padding-bottom: 10%;
  padding-top: 5%;
}

.SuperPartner{
  font-size: 30px;
  margin: 0 0 5% 10%;
  text-align: left;
}