.linkHM{
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 90%;
    color: #3dd7ac;
    
    
    margin-top: 1.5%;

    
}
.linkHM > span{
    margin: -12px 0;
    letter-spacing: -6px;
    font-size: 1.7em;
    font-weight: 900;
    transition: 1s;
    margin-top: 1.5%;
    color: #3dd7ac;
    
    
}
.span1{
    transform: rotate(405deg);
    display: block;
    position: fixed;
    top: 1.5vh;
}
.span2{
    display: none;
}
.span3{
    transform: rotate(130deg);
    display: block;
    position: fixed;
    top: 1.5vh;
}
