.campussection{
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 8.3%, 8.3%, 8.3%, 8.3%, 8.3%, 8.3%, 8.3%, 8.3%, 8.3%, 8.3%, 8.3%, 8.3%, ;
  font-family: 'Fira Sans';
}

.campusTitle{
  font-size: 30px;
}

.title{
  color: #3DD7AC;
}

.inverted{
  -webkit-text-stroke: 1px #3DD7AC;
  -webkit-text-fill-color: transparent;
}

.article-whereAreWe{
  width: 300px;
  font-size: 16px;
}

.hashtag{
  margin-top: 20px;
}

.image{
  height: 300px;
  width: 300px;
}