.campussection{
  background-color: #03000f;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.campusTitle{
  font-size: 30px;
}

.title{
  color: #3DD7AC;
}

.inverted{
  -webkit-text-stroke: 1px #3DD7AC;
  -webkit-text-fill-color: transparent;
}